In [1]:
#print
company = 'palmsland'
noemp = 5
print(company)
print(noemp)

palmsland
5

In [35]:
#creat list
list_string = ['Ahmed','Roula','Turki','Naser']
type(list_string)

list

In [3]:
list_string[0]

'Ahmed'

In [4]:
list_string[3]

'Naser'

In [5]:
list_string[0:2]

['Ahmed', 'Roula']

In [36]:
#add to the list
list_string.append('Nesreen')
print(list_string)

['Ahmed', 'Roula', 'Turki', 'Naser', 'Nesreen']

In [7]:
#remobe from the list
list_string.remove('Turki')
print(list_string)

['Ahmed', 'Roula', 'Naser', 'Nesreen']

In [8]:
#reverse the list
list_string.reverse()
print(list_string)

['Nesreen', 'Naser', 'Roula', 'Ahmed']

In [9]:
#sort the list
list_string.sort()
print(list_string)

['Ahmed', 'Naser', 'Nesreen', 'Roula']

In [10]:
#example for loop
for y in range(0,8,2):
   print(y)

0
2
4
6

In [11]:
#lenght of list
size = len(list_string)

4

In [24]:
# print the elements of the list all
for name in range(len(list_string)):
    print ("{} working in {}".format(list_string[name],company)+"\n")

Ahmed working in palmsland

Naser working in palmsland

Nesreen working in palmsland

Roula working in palmsland

In [25]:
# example for function
def print_seconds(hours, minutes, seconds):
    print(hours*3600+minutes*60+seconds)


print_seconds(1,2,3)

3723

In [27]:
# another example for function
def convert_distance(miles):
  km = miles * 1.6  
  return km

my_trip_miles = 55

my_trip_km = convert_distance(my_trip_miles)


print("The distance in kilometers is " + str(my_trip_km))

print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [30]:
#example for dictionary
cars_dictionary = {"sport": ["porsche", "lamborghini", "bugatti"], "economy": ["Hunday", "Hunda", "Fiat"], "class": ["mercedes", "rolls royce "]}  


print(cars_dictionary.get("sport", 0))
print(cars_dictionary.get("economy", 0))
print(cars_dictionary.get("class", 0))

['porsche', 'lamborghini', 'bugatti']
['Hunday', 'Hunda', 'Fiat']
['mercedes', 'rolls royce ']

In [31]:
#print the keys of the dic
cars_dictionary.keys()

dict_keys(['sport', 'economy', 'class'])

In [32]:
#print the vaues of dic
cars_dictionary.values()

dict_values([['porsche', 'lamborghini', 'bugatti'], ['Hunday', 'Hunda', 'Fiat'], ['mercedes', 'rolls royce ']])

In [34]:
#checking a key in the dic
keys = cars_dictionary.keys()
newkey = 'SUV'
if newkey in keys:
    print('{} is exist'.format(newkey))
else:
    print('{} is not exist'.format(newkey))

SUV is not exist